
<!DOCTYPE html>

<html>
<head>
     <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css") 
    @Scripts.Render("~/bundles/mordernizer") 
</head>
<body>
    <div>
        @RenderBody()
    </div>
     @Scripts.Render("~/bundles/js")
</body>
</html>
